openapi: 3.2.0
info:
  title: Diagnostic Robotics Visits v2 API
  version: 0.0.1
  description: 'Diagnostic Robotics API Document


    This document describing the API of patient-questionnaire service.


    High level description of the flow:

    1. create a patient

    2. create a visit for the patient

    3. select questionnaire for the visit

    4. get first (or next) question

    5. answer the question

    6. repeat 4-5 until answered all questions

    7. finalize the visit

    8. get visit outcome - triage results


    API key should be included in all requests.'
servers:
- url: https://env-name.diagnosticrobotics.com/api/pq
security:
- apikey: []
tags:
- name: Visits v2
  description: Patient visits resource
paths:
  /v2/visits/{visit_id}/:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
      operationId: get_get_visit_by_id_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Get get visit by id resource
      x-summary-source: derived
    patch:
      responses:
        '200':
          description: Success
      operationId: patch_get_visit_by_id_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Patch get visit by id resource
      x-summary-source: derived
  /v2/visits/{visit_id}/finish:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    post:
      responses:
        '200':
          description: Success
      description: Finalize visit and trigger "Questionnaire finished" webhooks
      operationId: post_finished_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Post finished resource
      x-summary-source: derived
  /v2/visits/{visit_id}/medical_summary:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                description: Medical summary text
                example: 45 year old female presents with sore throat that started 5 days ago...
        '404':
          description: Visit not found error
      description: Get medical summary for visit
      operationId: get_medical_summary_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Get medical summary resource
      x-summary-source: derived
  /v2/visits/{visit_id}/outcomes:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcomeModel'
        '404':
          description: Visit not found error
      description: Get questionnaire predicted outcomes
      operationId: get_visit_outcomes_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Get visit outcomes resource
      x-summary-source: derived
  /v2/visits/{visit_id}/symptoms/{symptom_id}:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    - name: symptom_id
      in: path
      required: true
      schema:
        type: integer
    post:
      responses:
        '201':
          description: Symptom added to visit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymptomResponse'
      description: Add a symptom to the current visit
      operationId: post_symptoms_resource
      parameters:
      - in: header
        required: true
        description: Patient unique identifier, provided when creating a new patient, must be supplied with any request as Bearer token
        name: Authorization
        schema:
          type: string
      tags:
      - Visits v2
      summary: Post symptoms resource
      x-summary-source: derived
components:
  schemas:
    SymptomResponse:
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        medical_title:
          type: string
        title:
          type: string
      type: object
    OutcomeModel:
      properties:
        outcome_id:
          type: integer
        weighted_priority:
          type: string
        type:
          type: string
        details:
          type: string
      type: object
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-client
      description: Client API key, provided by Diagnostic Robotics, must be supplied with any request
