openapi: 3.2.0
info:
  title: Diagnostic Robotics Dataset Upload API
  version: 2.3.35
servers:
- url: https://sandbox.precision-population-health.diagnosticrobotics.com
  description: Sandbox
tags:
- name: Dataset Upload API
paths:
  /api/v1/dataset/{dataset_type}/upload:
    post:
      tags:
      - Dataset Upload API
      summary: Upload
      operationId: upload_api_v1_dataset__dataset_type__upload_post
      parameters:
      - description: Uploaded dataset type.
        required: true
        schema:
          title: Dataset Type
          type: string
          description: Uploaded dataset type.
        name: dataset_type
        in: path
      - description: YYYY-MM-DD format. e.g 2022-11-01.
        required: true
        schema:
          title: Updated For
          type: string
          description: YYYY-MM-DD format. e.g 2022-11-01.
        name: updated_for
        in: query
      - description: Uploaded dataset file type.
        required: false
        schema:
          title: Format
          type: string
          description: Uploaded dataset file type.
          default: CSV
        name: format
        in: query
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_api_v1_dataset__dataset_type__upload_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
      x-stoplight:
        id: gwt2ghnrxf283
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      x-stoplight:
        id: 5bljvia36thct
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      x-stoplight:
        id: ch4ho5h51hq0x
    Body_upload_api_v1_dataset__dataset_type__upload_post:
      title: Body_upload_api_v1_dataset__dataset_type__upload_post
      required:
      - file
      type: object
      properties:
        file:
          title: File
          type: string
          format: binary
      x-stoplight:
        id: vx4sbohvbgo19
  securitySchemes:
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: /api/oauth/token
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://digital-outreach.us.auth0.com/authorize?audience=dev-digital-outreach-api-identifier
          tokenUrl: https://digital-outreach.us.auth0.com/oauth/token
x-stoplight:
  id: usgko1x40nf1c
