openapi: 3.2.0
info:
  title: Search Service Visits API
  version: 0.0.1
  description: "\nDiagnostic Robotics API Document\n\nThis document describing the API of patient-questionnaire service.\n\nHigh level description of the flow:\n 1. create a patient\n 2. create a visit for the patient\n 3. select questionnaire for the visit\n 4. get first (or next) question\n 5. answer the question\n 6. repeat 4-5 until answered all questions\n 7. finalize the visit\n 8. get visit outcome - triage results\n\nAPI key should be included in all requests.\n"
servers:
- url: https://env-name.diagnosticrobotics.com/api/search/
security:
- apikey: []
tags:
- name: Visits
paths:
  /visits/{visit_id}/symptoms:
    parameters:
    - name: visit_id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: Symptoms found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Symptom'
      description: Search for symptoms by term
      operationId: get_symptom_search_resource
      parameters:
      - description: Search term for symptom search
        name: search_term
        in: query
        schema:
          type: string
      - description: Biological sex of the patient, required for demographic specific symptoms
        name: sex
        in: query
        schema:
          type: string
      tags:
      - Visits
components:
  schemas:
    Symptom:
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        medical_title:
          type: string
        title:
          type: string
      type: object
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-client
      description: Client API key, provided by Diagnostic Robotics, must be supplied with any request
x-stoplight:
  id: suy7vq94ei15e
