openapi: 3.2.0
info:
  title: Search Service Default API
  version: 0.0.1
  description: 'Diagnostic Robotics API Document


    This document describing the API of patient-questionnaire service.


    High level description of the flow:

    1. create a patient

    2. create a visit for the patient

    3. select questionnaire for the visit

    4. get first (or next) question

    5. answer the question

    6. repeat 4-5 until answered all questions

    7. finalize the visit

    8. get visit outcome - triage results


    API key should be included in all requests.'
servers:
- url: https://env-name.diagnosticrobotics.com/api/search/
security:
- apikey: []
tags:
- name: Default
  description: Global
paths:
  /symptoms/autocomplete:
    get:
      responses:
        '200':
          description: Symptoms found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: autocomplete search term for a prefix or partial term
      operationId: get_symptom_search_autocomplete_resource
      parameters:
      - description: Search term for symptom search.
        name: search_term
        in: query
        schema:
          type: string
      - description: Biological sex of the patient, required for demographic specific symptoms
        name: sex
        in: query
        schema:
          type: string
      tags:
      - Default
      summary: Get symptom search autocomplete resource
      x-summary-source: derived
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-client
      description: Client API key, provided by Diagnostic Robotics, must be supplied with any request
x-stoplight:
  id: suy7vq94ei15e
